<% layout("/layouts/boilerplate") %> 
<body>
    <div class="main-cart">
    <h3>All listings cart</h3>
    <% sum = 0 %>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1   row-cols-xs-1 " >
        <% for(let listing of cart){ %>

            <div class="card col listing-card" >
              <img src="<%= listing.image %>" class="card-img-top" alt="listing" style="height : 20rem">
                <div class="card-body">
                  <p class="card-text"> <b><%= listing.title %></b>   <br/>
                    <b><%= listing.location %> </b> 
                    <b> <%= listing.country %> </b><br/>
                    <b>&#8377;<%= listing.price.toLocaleString("en-IN") %> /night</b>
                  </p>
                  <form action="/listings/myorders/order/<%= listing._id %>" method="GET">
                    <button class="btn btn-success">Check Out</button>
                </form>
                  <form action="/listings/cart/<%= listing._id %>/delete?_method=DELETE" method="post">
                    <button class="btn btn-danger"   >Delete</button>
                  </form>
                </div>
              </div>
              <% sum += listing.price %>
              
        
              <% } %>
    </div>
</div>
<button class="btn btn-outline-success"><b>Total Price &#8377; <%= sum %></b></button><br/><br/>

</body>

